1.Write a Python program to print the following string in a specific format (see the output). 

        Twinkle, twinkle, little star,
            How I wonder what you are!
              Up above the world so high,
              Like a diamond in the sky.
       Twinkle, twinkle, little star,
            How I wonder what you are!

In [1]:
print("Twinkle, twinkle, little star,\n\tHow I wonder what you are!\n\t\tUp above the world so high,\n\t\tLike a diamond in the sky.\nTwinkle, twinkle, little star,\n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

2.Write a Python program to get the Python version you are using

In [ ]:
import sys
print(sys.version)

3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]

3.Write a Python program to display the current date and time

In [2]:
import datetime
now = datetime.datetime.now()
print(now.strftime(f"Date : %Y-%m-%d\nTime :%H:%M:%S"))

Date : 2022-01-01
Time :18:20:07

4.Write a Python program which accepts the radius of a circle from the user and compute the area.

In [5]:
import math
r = float(input("Enter a Radius :"))
area = math.pi * (r*r)
print("Area",area)

Enter a Radius :45
Area 6361.725123519331

5.Write a Python program which accepts the users first and last name and print them in reverse order with a space between them.

In [8]:
firstName = input("Enter First Name : ")
LastName = input("Enter Last Name : ")
print('{} {}'.format(LastName,firstName))

Enter First Name : sarmad
Enter Last Name : ali
ali sarmad

6.Write a python program which takes two Inputs from user and print them addition

In [9]:
num1 = int(input("Enter 1st Number: "))
num2 = int(input("Enter 2nd Number: "))

Add = num1 + num2
print(f"Addition : {int(Add)}")

Enter 1st Number: 65
Enter 2nd Number: 67
Addition : 132